*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height:40px;
    width: 100%;
    background: linear-gradient(
        135deg,
        #fa11c7,
        #5f58be)
}
.mainDiv
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(164, 66, 221);
    width: 550px;
    height: 600px;
    margin-top: 90px;
    margin-left: 12cm;
    border-radius: 2px;
}
header{
    font-size: 30px;
    font-weight: 300px;
	font-style:unset;
	color:white;
    margin: 10px;
    background: violet;
    width: 30%;
    text-align: center;
    margin-left: 13cm;
}
.nextDiv{
    margin: 0px auto;
}
.nextDiv p{
    text-align: center;
    background-color: #67a7cc;
    font-size: 20px;
    font-weight: 700;
	color:white;
    margin-top: 30px;
}
input[type=text] {
    width: 120%;
    padding: 15px 30px;
    margin: 20px 0 0 -40px; 
    border-radius: 5px;
}
.btn
{
    background-color: rgb(16, 173, 235);
    margin: 10px 0px 10px 120px;
    font-size: 14px;
    padding: 6px 4px;
    width: 35%;
    height: 25%;
    font-weight: 550;
    border-radius: 6px;
}
.btn:hover{
    background-color: #00de21;
    color: whitesmoke;
    cursor: pointer;
}
#secondayPara{
    text-align: center;
    background-color: rgba(255, 0, 191, 0.87);
	color:white;
    margin: 20px 0px;
    padding: 0px 20px;
    width: 100%;
    font-size: 19px;
    font-weight: 700;
}
#studentsName{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0px auto;
    padding-left: 35px;
    font-size: 17px;
    overflow: hidden;
    overflow-y: scroll;
}
#studentsName::-webkit-scrollbar {
    width: 3px;
    height: auto;
}
#studentsName::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }


#studentsName::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 20px;
  }

span{
    float: right;
    margin: 0px 20px; 
}
.btn1{
    background-color: #24B8A3 ;
    color: black;
    height: 5vh;
    border-radius: 3px;
    margin: 10px -14px;
    padding: 0px 14px;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}
.btn1:hover
{
    background-color:#24B8A3 ;
    color: whitesmoke; 
}

